<html lang="en">
<body>
{% for symbol in symbols %}
    <h2><a href="https://www.tradingview.com/chart/?symbol={{ symbol }}">{{ symbol }}</a></h2>
    <h4>Advance Chart</h4>
    <img alt="{{ symbol }}" src="cid:{{ symbol }}"/>
{#    <h4>Advance 1 Day Chart</h4>#}
{#    <img alt="{{ symbol }}_1d" src="cid:{{ symbol }}_1d"/>#}
{#    <h4>Advance 5 Day Chart</h4>#}
{#    <img alt="{{ symbol }}_5d" src="cid:{{ symbol }}_5d"/>#}
{#    <h4>Advance 1 Month Chart</h4>#}
{#    <img alt="{{ symbol }}_1m" src="cid:{{ symbol }}_1m"/>#}
{% endfor %}
</body>
</html>