{#<!-- TradingView Widget BEGIN -->#}
{#<div class="tradingview-widget-container">#}
{#    <div id="tradingview_c6f1d"></div>#}
{#    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-NVDA/" rel="noopener" target="_blank"><span class="blue-text">{{ symbol }} Chart</span></a> by TradingView</div>#}
{#    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>#}
{#    <script type="text/javascript">#}
{#        new TradingView.widget(#}
{#            {#}
{#            "width": 980,#}
{#            "height": 610,#}
{#            "symbol": "{{ symbol }}",#}
{#            "range": "{{ date_rage }}",#}
{#            "timezone": "exchange",#}
{#            "theme": "Light",#}
{#            "style": "1",#}
{#            "locale": "en",#}
{#            "toolbar_bg": "#f1f3f6",#}
{#            "enable_publishing": false,#}
{#            "save_image": false,#}
{#            "details": true,#}
{#            "studies": [#}
{#              "MASimple@tv-basicstudies",#}
{#              "MAWeighted@tv-basicstudies"#}
{#            ],#}
{#            "container_id": "tradingview_c6f1d"#}
{#          }#}
{#        );#}
{#    </script>#}
{#</div>#}
{#<!-- TradingView Widget END -->#}

{#<!-- TradingView Widget BEGIN -->#}

<html>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
{% with '1d 5d 1m' as date_ranges %}
{% for date_range in date_ranges.split %}
    <div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><span class="blue-text">{{ symbol }} {{ date_range }} Chart</span></a></div>
    <div id="tradingview_65aa5_{{ date_range }}"></div>
    <br/>
</div>
{% endfor %}
<!-- TradingView Widget END -->

<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
{% for date_range in date_ranges.split %}
  new TradingView.widget(
  {
  "width": 1300,
  "height": 610,
  {#"autosize": true,#}
  "symbol": "{{ symbol }}",
  "timezone": "exchange",
  "theme": "Light",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "range": "{{ date_range }}",
  "save_image": false,
  {#"details": true,#}
  "studies": [
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_65aa5_{{ date_range }}"
}
  );
{% endfor %}
</script>

{% endwith %}
</html>
