<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<html>

{% with '1d 1m 3m' as date_ranges %}
    {% for symbol in symbols %}
        <h2>{{ symbol.symbol }}</h2>
        <h3>{{ symbol.title }}, watchlist_count: {{ symbol.watchlist_count }}</h3>
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><h4><span class="blue-text">{{ symbol.symbol }} Chart</span></h4></a></div>
                <div id="tradingview_65aa5_{{ symbol.symbol }}"></div>
                <br/>
            </div>
    {% endfor %}
    <!-- TradingView Widget END -->

{#    <div class="tradingview-widget-container">#}
{#        <div id="tv-medium-widget"></div>#}
{#        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/AAPL/" rel="noopener" target="_blank"><span class="blue-text">Apple</span></a>, <a href="https://www.tradingview.com/symbols/GOOGL/" rel="noopener" target="_blank"><span class="blue-text">Google</span></a> <span class="blue-text">and</span> <a href="https://www.tradingview.com/symbols/MSFT/" rel="noopener" target="_blank"><span class="blue-text">Microsoft Quotes</span></a> by TradingView</div>#}
{#    </div>#}
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
{% for symbol in symbols %}
  new TradingView.MediumWidget(
  {
  "container_id": "tradingview_65aa5_{{ symbol.symbol }}",
  "symbols": [
      "{{ symbol.symbol }}" + "|" + "1d"
  ],
  "greyText": "Quotes by",
  "gridLineColor": "#e9e9ea",
  "fontColor": "#83888D",
  "underLineColor": "#dbeffb",
  "trendLineColor": "#4bafe9",
  "width": "900px",
  "height": "400px",
  "locale": "en"
}
  );
{% endfor %}
{% endwith %}
</script>
</html>