<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Trending Stocks</title>
</head>
<html>

{% load tz %}
{% timezone "America/Los_Angeles" %}
{% with '1d 5d 1m 3m' as date_ranges %}
{% for symbol in symbols %}
    <h2 id="title_{{ symbol.symbol }}" class="button_{{ symbol.symbol }}" style="color:MediumSeaGreen;">{{ symbol.symbol }}</h2>
    <h4 class="button_{{ symbol.symbol }}">{{ symbol.symbol }}>{{ symbol.title }}, watchlist_count: {{ symbol.watchlist_count }}</h4>
    <h4>{{ symbol.db_created_at }}</h4>
    <a href="https://stocktwits.com/symbol/{{ symbol.symbol }}"><h6>StockTwits</h6></a>
    <div id="contain_{{ symbol.symbol }}" class="tradingview-widget-container">

    </div>
{% endfor %}

{#    {% for symbol in symbols %}#}
{#        <h2 class="button_{{ symbol.symbol }}">{{ symbol.symbol }}</h2>#}
{#        <h3 class="button_{{ symbol.symbol }}">{{ symbol.symbol }}>{{ symbol.title }}, watchlist_count: {{ symbol.watchlist_count }}</h3>#}
{#            {% for date_range in date_ranges.split %}#}
{#                <div class="tradingview-widget-container">#}
{#                    <div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><h4><span class="blue-text">{{ symbol.symbol }} {{ date_range }} Chart</span></h4></a></div>#}
{#                    <div id="tradingview_65aa5_{{ symbol.symbol }}_{{ date_range }}"></div>#}
{#                    <br/>#}
{#                </div>#}
{#            {% endfor %}#}
{#    {% endfor %}#}
{#    <!-- TradingView Widget END -->#}

<script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
{% for symbol in symbols %}
    $(".button_{{ symbol.symbol }}").click(function(){
        $(".tradingview-widget-container").empty();
        {% for date_range in date_ranges.split %}
        $("#contain_{{ symbol.symbol }}").append($(
            '<div class="tradingview-widget-copyright"><a href="#" rel="noopener" target="_blank"><h4><span class="blue-text">{{ symbol.symbol }} {{ date_range }} Chart</span></h4></a></div>' +
            '<div id="tradingview_65aa5_{{ symbol.symbol }}_{{ date_range }}"></div>'
        ));
        {% endfor %}

        {% for date_range in date_ranges.split %}
        new TradingView.widget(
            {
                "width": 800,
                "height": 610,
                {#"autosize": true,#}
                "symbol": "{{ symbol.symbol }}",
                "timezone": "exchange",
                "theme": "Light",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "range": "{{ date_range }}",
                "save_image": false,
                {#"details": true,#}
                "studies": [
                    "MASimple@tv-basicstudies"
                ],
                "container_id": "tradingview_65aa5_{{ symbol.symbol }}_{{ date_range }}"
            }
        );
        $(document).scrollTop( $("#title_{{ symbol.symbol }}").offset().top );
        {% endfor %}

    });
{% endfor %}
{% endwith %}
{% endtimezone %}
</script>
</html>